# Core Libraries
fastapi==0.112.2
uvicorn==0.30.6
python-dotenv==1.0.1
pydantic==2.8.2

# Generative AI APIs
google-generativeai==0.7.2
openai==0.27.10

# YouTube Transcript Processing
youtube-transcript-api==0.6.0
beautifulsoup4==4.13.2

# Streamlit for Frontend
streamlit==1.25.0
st-copy-to-clipboard==0.3.0
strip-markdown==0.2.1

# Required Google Libraries
google-auth==2.34.0
google-auth-httplib2==0.2.0
google-api-core==2.19.2
google-api-python-client==2.143.0
proto-plus==1.24.0
protobuf==4.25.4
grpcio==1.66.1
grpcio-status==1.62.3
googleapis-common-protos==1.65.0

# Utilities
requests==2.32.3
urllib3==2.2.2
sniffio==1.3.1
tqdm==4.66.5

# Dependency for FastAPI/Starlette
starlette==0.38.2

# Remove unnecessary dependencies
annotated-types==0.7.0
anyio==4.4.0
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
h11==0.14.0
httplib2==0.22.0
idna==3.8
pillow==10.4.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pyparsing==3.1.4
rsa==4.9
typing_extensions==4.12.2
uritemplate==4.1.1
